# Python / venv
.venv/
__pycache__/
*.pyc

# Editor settings
.vscode/
.idea/

# Streamlit local stuff (if you ever add project-level config)
.streamlit/

# Raw data (big, not needed in repo)
Data/
*.IDE

# The database will be very large, much bigger than github's 100 MB limit:
vibes.db
*.db